@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: aquamarine;
}

h1 {
    font-family: "Roboto", serif;
}

h2 {
    font-family: "Poppins", serif;
    width: 150px;
    float: left;
    margin-top: 10em;
    margin-bottom: 10em;
}
.img1{
    width: 300px;
}
.list_pseudo{
    color: red;
}

h3{
    width: 150px;
    float: right;
    margin-top: 10em;
    margin-bottom: 10em;
    
}

.float{
    margin-top: 5em;
    margin-bottom: 10em;
}

.farve_skift{
    color: yellow;
    background-color: purple;
    margin-top: 20em;
    margin-bottom: 20em;
}

button{
    margin-top: 20em;
}


